@import url("https://fonts.googleapis.com/css2?family=Anta&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  font-family: "Cousine", monospace;
  font-weight: 400;
  font-style: normal;
}

.cousine-bold {
  font-family: "Cousine", monospace;
  font-weight: 700;
  font-style: normal;
}

.cousine-regular-italic {
  font-family: "Cousine", monospace;
  font-weight: 400;
  font-style: italic;
}

.cousine-bold-italic {
  font-family: "Cousine", monospace;
  font-weight: 700;
  font-style: italic;
}

.Main-View {
  height: 100vh;
  width: 100%;
  display: flex;
  background-image: radial-gradient(
    at 70% 60%,

    rgb(22, 28, 36),
    rgb(84, 90, 100)
  );
  /* background-color: rgb(34, 40, 49); */
  border-width: 0px;
}

.btn {
  border-color: rgba(0, 0, 0, 0) !important;
}

.btn-primary {
  background-color: rgb(255, 211, 105) !important;
  color: rgb(34, 40, 49) !important;
  border-color: rgba(0, 0, 0, 0) !important;
}

.btn-primary:hover {
  background-color: rgb(255, 245, 223) !important;
}
