.Modal {
  position: absolute;
  z-index: 100;
  left: 20px;
  top: 50px;

  color: white;
  background-image: radial-gradient(
    at 50% 80%,

    rgb(61, 72, 87),
    rgb(84, 90, 100)
  );

  padding: 1rem;
  box-shadow: 10px 10px 4px rgba(51, 41, 18, 0.7);
  border: 1px solid rgb(179, 154, 98);
  border-radius: 10px; /* Optional: for rounded corners */
}

.Modal-Input {
  margin: 0.1rem;
  width: 6rem;
  color: white;
  background-color: rgb(47, 58, 71);
  border-radius: 8px;
  box-shadow: inset 1px 1px 5px #29241f;
  border-color: rgb(35, 43, 53);
  -moz-appearance: textfield;
}
.Modal > .btn {
  margin-top: 0.5rem;
  font-weight: 500;
}
